{% extends 'layout/base-fullscreen.html' %}
{% load crispy_forms_tags %}


{% block title %} Login {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            
            <div class="card-body px-lg-5 py-lg-5">
              
             <form method="POST">
    {% csrf_token %}  
    <fieldset class="form-group">
    <legend class="border-bottom mb-4">Reset Password</legend>
    {{ form| crispy }}
      
    </fieldset>
    <div class="form-group">
    <button class="btn btn-outline-info" type="submit">Reset Password</button>  
    </div>
    </form> 
            </div>
          </div>
          
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
